.displayWalletDetailsText{
	font-size: 2.5vh;
	color: grey;
}
.displayWalletDetails{
	padding-bottom: 15px;
}


.button {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 15px ;
	color: white;
	padding: 15px 32px;
	margin-top: 7px;
	margin-bottom: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.textheading{
  text-align: center;
  font-size: 3vh;
  color: #333 !important;

}

#submitSwap{
  height: 50px;
  margin-bottom: 10px;
}


.input{
  font-size: 1.5rem;
  height: 6vh;
  background-color: grey !important;
  color: white;
}

input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

input:-ms-input-placeholder {
  font-size: 1.5rem;
}

input::-moz-placeholder {
  font-size: 1.5rem;
}


.App-logo {
  height: 40vmin;
 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.handleSumbit{
  margin-top: 2vh;
  display: block;

 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}