.adminPanel{
    
    text-align: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2vh;
    
  
}

.arbiToggle:disabled {
    background-color: #333;
}

#runSingle, #toggleStatus { 
    width: 95%; 
    display: inline;
    margin: 5px;
}

/**@media only screen and (max-width: 1023px) {
    #runSingle, #toggleStatus {
        margin-top: 10; 
        width: 100%; 
        margin-left: 0;}
  } **/