.displayPoolsizes{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.textPoolsize{
    display: inline-block;
}

.poolsizeButton{
    background-color: whitesmoke;
    vertical-align: bottom;
    border-radius: 50%;
    margin-right: 14px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.poolsizeButtonPicture{
    height: 15px;
    margin: 10px;
}

.headingPoolsize{
    color: white;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.displayPoolsizeBSC, .displayPoolsizeETH, .abitrageWalletBsc, .abitrageWalletEth{
    color: black !important;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    min-width: 49%;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.poolsizeSubHeading{
    font-size: 16px;
    font-weight: 600;
}
.contentPoolsize{
    margin-left: 23px;
}

.and{
    font-style: bold;
}

.poolsizeSubSubHeading{
    font-style: italic;
}

@media only screen and (min-width: 1700px) {
    .displayPoolsizeBSC, .displayPoolsizeETH, .abitrageWalletBsc, .abitrageWalletEth{
        display: inline-block;
    }

    .displayPoolsizeBSC, .abitrageWalletBsc{
    margin-right: 1%;
    }

    .displayPoolsizeETH, .abitrageWalletEth{
    margin-left: 1%;
    }   
}


/* Tolltips to the dashboard */
.tooltipdashboard {
    position: relative;
 
  }
  
  .tooltipdashboard .tooltiptext {

    visibility: hidden;
    width: 300px;
    background-color: #203a4b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
 
    
  }
  
  .tooltipdashboard:hover .tooltiptext {
    visibility: visible;
  }

  .tooltipdashboard .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #203a4b transparent transparent;
  }